<!DOCTYPE html><html class=''>
<head>
  <script src='http://production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script>
  <script src='http://production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script>
  <script src='http://production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script>
  <meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="http://production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" />
  <link rel="mask-icon" type="" href="http://production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" />
  <link rel="canonical" href="https://codepen.io/AyhanALTINOK/pen/Atlva" />

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
  <style class="cp-pen-styles">
  </style>
</head>

<body>
<div class="window-margin">
  <div class="window">

    <aside class="sidebar">
      <div class="top-bar">
        <p class="logo">UFMDb</p>
      </div>



      <menu class="menu">
        <p class="menu-name">Movies</p>
        <ul>
          <li><a href="#">Action / Adventure</a>
          <li><a href="#">Animation</a></li>
          <li><a href="#">Comedy</a></li>
          <li><a href="#">Documentaries</a></li>
          <li><a href="#">Drama</a></li>
          <li><a href="#">Horror</a></li>
          <li><a href="#">Sci-Fi  / Fantasy</a></li>
          <li><a href="#">List A-Z</a></li>
        </ul>

        <div class="separator"></div>

        <ul class="no-bullets">
          <li><a href="#">Latest news</a></li>
          <li><a href="#">Critic reviews</a></li>
          <li><a href="#">Box office</a></li>
          <li><a href="#">Top 250</a></li>
        </ul>

        <div class="separator"></div>
      </menu>
    </aside>


    <div class="main" role="main">

      <div class="top-bar">

        <ul class="top-menu">
          <li class="menu-icon trigger-sidebar-toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </li>
          <li><a href="#">Headlines</a></li>
          <li><a href="#">Articles</a></li>
          <li class="active"><a href="#">Movies & Films</a></li>
          <li >
            <div class="search-box">
              <input type="text" placeholder="Search..."/>
              <p class="fa fa-search"></p>
            </div>
          </li>


        </ul>

        <div class="profile-box">
          <div class="circle"></div>
          <span class="arrow fa fa-angle-down"></span>
        </div>

      </div> <!-- top bar -->


      <div class="featured-movie">
        <img class="cover" src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394277453/backdrop_ggwxvq.jpg" alt="" class="cover" />
        <p class="corner-title">Staff pick</p>

        <div class="bottom-bar">
          <div class="title-container">
            <span class="fa fa-play-circle"></span>
            <b>Non-stop</b> Trailer #1
          </div>

          <div class="right">
            <div class="stars">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half-o"></span>
              <span class="fa fa-star-o"></span>
            </div>
            <div class="share">
              <icon class="fa fa-share-square"></icon> Share
            </div>
          </div> <!-- right -->
        </div> <!-- bottom bar -->
      </div> <!-- featured -->


      <div class="movie-list">
        <div class="title-bar">
          <div class="left">
            <p class="bold">Popular Trailers</p>
            <p class="grey">Action / Adventure</p>
          </div> <!-- left -->
          <div class="right">
            <a class="blue" href="#">Rating <i class="fa fa-angle-down"></i></a>
            <a href="#">Newest</a>
            <a href="#">Oldest</a>
          </div> <!-- right -->
        </div> <!-- title-bar -->

        <ul class="list">
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283878/2014-03-08_140412_oavbye.png" alt="" class="cover" />
            <p class="title">Sin City: A Dame To Kill For</p>
            <p class="genre">Action, Crime</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140329_aawn02.png" alt="" class="cover" />
            <p class="title">Transcendence</p>
            <p class="genre">Action, Drama</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140239_kyg9i7.png" alt="" class="cover" />
            <p class="title">Need For Speed</p>
            <p class="genre">Action, Crime</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140052_dq4dyx.png" alt="" class="cover" />
            <p class="title">The Amazing Spiderman</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140104_tdgzka.png" alt="" class="cover" />
            <p class="title">Pompeii</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140248_fmufrz.png" alt="" class="cover" />
            <p class="title">Divergent</p>
            <p class="genre">Action, Sci-Fi</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140401_aewzsy.png" alt="" class="cover" />
            <p class="title">Guardians of the Galaxy</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140339_wck2gw.png" alt="" class="cover" />
            <p class="title">X-Men: Days of Fury</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140311_rj1det.png" alt="" class="cover" />
            <p class="title">Captain America: The Winter Soilder</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140248_fmufrz.png" alt="" class="cover" />
            <p class="title">Divergent</p>
            <p class="genre">Action, Sci-Fi</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140132_bcnfqk.png" alt="" class="cover" />
            <p class="title">RoboCop (2014)</p>
            <p class="genre">Action, Crime</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140329_aawn02.png" alt="" class="cover" />
            <p class="title">Transcendence</p>
            <p class="genre">Action, Drama</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140239_kyg9i7.png" alt="" class="cover" />
            <p class="title">Need For Speed</p>
            <p class="genre">Action, Crime</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140157_wvifsp.png" alt="" class="cover" />
            <p class="title">The Lego Movie</p>
            <p class="genre">Adventure, Animation</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283878/2014-03-08_140412_oavbye.png" alt="" class="cover" />
            <p class="title">Sin City: A Dame To Kill For</p>
            <p class="genre">Action, Crime</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140339_wck2gw.png" alt="" class="cover" />
            <p class="title">X-Men: Days of Fury</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283879/2014-03-08_140052_dq4dyx.png" alt="" class="cover" />
            <p class="title">The Amazing Spiderman</p>
            <p class="genre">Action, Adventure</p>
          </li>
          <li>
            <img src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394283880/2014-03-08_140248_fmufrz.png" alt="" class="cover" />
            <p class="title">Divergent</p>
            <p class="genre">Action, Sci-Fi</p>
          </li>
        </ul>

        <a href="#" class="load-more">Show more movies <span class="fa fa-plus"></span></a>

      </div> <!-- movie list -->


    </div> <!-- main -->

  </div> <!-- window -->
</div> <!-- window margin -->
<script src='//production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script >jQuery(document).ready(function($) {

  $('a').on('click', function(e) {
    e.preventDefault();
  });

  $('.trigger-sidebar-toggle').on('click', function() {
    $('body').toggleClass('sidebar-is-open');
  });

});
//# sourceURL=pen.js
</script>
</body></html>