<!DOCTYPE html><html class=''>
<head>
  <meta charset='UTF-8'>
  <meta name="robots" content="noindex">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js'></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class="window">

    <aside class="sidebar">
      <div class="top-bar">
        <p class="logo"><a href="/">UFMDb</a></p>
      </div>


      <menu class="menu">
        <p class="menu-name">Movie & Celebs</p>

        <div class="separator"></div>

        <ul class="no-bullets">
          <li><a href="/sidebar_list/top_movies?year=2018&rating=1&sort_by=DESC">Top Movies</a></li>
          <li><a href="/sidebar_list/boxoffice_hits?sort_by=DESC">Box Office hits</a></li>
          <li><a href="/sidebar_list/celeb_hits?nom=20&ave=7&sort_by=DESC">Celebrity hits</a></li>
          <li><a href="/sidebar_list/actor_age_hits?rating=6&sort_by=DESC">Top Celebrity movies</a></li>
          <li><a href="/sidebar_list/celeb_rating?rating=6&sort_by=DESC">Celebrity Ratings</a></li>
          <li><a href="/sidebar_list/celeb_rating_genre?rating=6&sort_by=DESC">Celebrity Genre Ratings</a></li>
          <li><a href="/sidebar_list/celebrity_prime_comp?nom=20&ave=7&sort_by=DESC">Prime comparison for Celebrity</a></li>
          <li><a href="/sidebar_list/pop_production_critic?rating=6&sort_by=DESC">Popular Production Houses </a></li>
          <li><a href="/sidebar_list/pop_production_votes?rating=6&sort_by=DESC">Top Production Houses</a></li>
          <li><a href="#">Movie Queries</a></li>
        </ul>

        <div class="separator"></div>
      </menu>
    </aside>


    <div class="main" role="main">

      <div class="top-bar">

        <ul class="top-menu">
          <li>
            <div class="search-box">
              <input type="text" placeholder="Search..."/>
              <p class="fa fa-search"></p>
            </div>
          </li>
          <li>
            <div class="dropdown" style="padding: 13px 0px;">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Login/SignUp
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#" style="color:black;">Login</a>
                <a class="dropdown-item" href="#" style="color:black;">SignUp</a>
              </div>
            </div>
          </li>
        </ul>
      </div> <!-- top bar -->


      <div class="featured-movie">
        <img class="cover" src="https://res.cloudinary.com/dddcqqk0g/image/upload/v1394277453/backdrop_ggwxvq.jpg" alt="" class="cover" />
        <p class="corner-title">Staff pick</p>

        <div class="bottom-bar">
          <div class="title-container">
            <span class="fa fa-play-circle"></span>
            <b>Non-stop</b> Trailer #1
          </div>

          <div class="right">
            <div class="stars">
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star-half-o"></span>
              <span class="fa fa-star-o"></span>
            </div>
            <div class="share">
              <icon class="fa fa-share-square"></icon> Share
            </div>
          </div> <!-- right -->
        </div> <!-- bottom bar -->
      </div> <!-- featured -->


      <div class="movie-list">
        <div class="title-bar">
          <div class="left">
            <p class="bold">Latest Movies</p>
          </div> <!-- left -->
        </div> <!-- title-bar -->

        <ul class="list">
          <% @lmov.each do |latest| %>
            <li>

                <img class="img-fluid" src=<%= latest['poster'] %> alt="">

              <a href="/movies/<%= latest['movie_id'] %>"><p class="title"><%= latest['primary_title'] %></p></a>
              <p class="genre"><%= latest['genres'] %></p>
            </li>
          <% end %>
        </ul>

        <a href="#" class="load-more">Show more movies <span class="fa fa-plus"></span></a>

      </div> <!-- movie list -->


    </div> <!-- main -->

  </div> <!-- window -->

<script src='https://production-assets.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js'></script>
<script >jQuery(document).ready(function($) {

    $('.trigger-sidebar-toggle').on('click', function() {
        $('body').toggleClass('sidebar-is-open');
    });

    $('.subcategory').click(function() {
        console.log( "user clicked on" );
        subcategory = $(this).attr('value');
        console.log(subcategory);
        category = $(this).closest(".panel-collapse").siblings().children().children().attr("value");
        console.log(category);
    });


});

</script>
</body>
</html>